.header {
  width: 100%;
  height: 100px;
  padding: 5px 0;

  background-color: bisque;
  box-shadow: 0 0 10px black;
  z-index: 10;

  &-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    //border: 3px dotted black;

    .header-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      border-radius: 10px;
      border: 3px dashed cadetblue;

      input {
        margin: 0 5px;

        flex-grow: 1;
      }

      .login-btn {
        width: 60px;
        height: 30px;
        margin: 5px;

        color: white;

        border-radius: 5px;
        border: 1px solid black;
        background-color: cadetblue;

        &:active {
          transform: scale(0.95) translate(1px, 1px);
        }
      }
    }

  }
}

@media (max-width: 378px) {
  .header {
    &-container {
      .header-menu {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }

}
